
<div class="grid card">
    <div class="row">
      <div class="col-sm-3" *ngFor="let meditation of meditations">
        <div class="shadow-sm card mb-13">
          <img class="card-img-top" [src]="meditation.image" alt="{{ meditation.title }}">
          <div class="card-body">
            <h5 class="card-title title">{{ meditation.title }}</h5>
            <p class="card-title genre">{{ meditation.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ meditation.duration }}</small>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
