<!-- <div class="container">
  <h1>Meditations</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let meditation of meditations">
      <div class="card mb-2">
        <img [src]="meditation.image" class="card-img-top" alt="" />
        <div class="card-body">
          <h2 class="card-title">{{ meditation.title }}</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="overflow-y: scroll; min-height: 800px;">
  <h1 class="category-heading">Your Meditations</h1>
  <p class="subheading-text">Choose a topic to focus on:</p>
  <div class="row">
      <div class="col-sm-3" *ngFor="let meditation of meditations; let i=index">
          <div class="card mb-3" [style.background-color]="cardBackgroundColors[i]" [routerLink]="['/details', meditation.id]">
              <img [src]="meditation.image" class="card-img-top" alt="" style="max-height: 180px;">
              <div class="card-body">
                  <h2 class="card-title">{{ meditation.title }}</h2>
                  <p style="font-size: small; background-color: #E1EBEE; width: fit-content; display: inline-block; border-radius: 10px; padding: 4px;">{{meditation.duration}} mins</p>
                  <p style="font-size: small; background-color: #E1EBEE; width: fit-content; display: inline-block; border-radius: 10px; padding: 4px;">{{meditation.slogans}}</p>
              </div>
          </div>
      </div>
  </div>
</div>

