/* MOBILE RESPONSIVE */
@media (max-width: 767px) {
  .col-sm-3 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .card-img-top {
    /* height: 200px; */
    // object-fit: cover;
  }

  .card-title {
    font-size: 17px;
    color: black;
    font-weight: 700;
    overflow: scroll;
    text-transform: uppercase;
    text-align: center;
  }

  .btn-group {
    display: flex;
    justify-content: center;
  }

  .btn-group button.btn {
    height: 45px;
    line-height: 1;
    padding: 4px 8px;
    font-size: 10px;
  }

  .row {
    margin-top: 25px;
  }

  .category-heading {
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }


}



