<!-- <div class="container">
  <h1>Meditations</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let meditation of meditations">
      <div class="card mb-2">
        <img [src]="meditation.image" class="card-img-top" alt="" />
        <div class="card-body">
          <h2 class="card-title">{{ meditation.title }}</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="overflow-y: scroll; min-height: 800px;">
  <h1 class="category-heading">Meditations</h1>
  <p class="subheading-text">Choose a topic to focus on:</p>
  <div class="row">
    <!-- Add loader when data is loading -->
    <div *ngIf="isLoading" class="loader-container">
      <div class="loader"></div>
    </div>
    

    <div class="col-sm-3" *ngFor="let meditation of meditations; let i=index">
      <div class="card mb-3" [style.background-color]="cardBackgroundColors[i]" [routerLink]="['/details', meditation.id]">
        <img [src]="meditation.image" class="card-img-top" alt="" style="max-height: 160px;">
        <div class="card-body">
          <h2 class="card-title">{{ meditation.title }}</h2>
          <div style="display: flex; align-items: center;">
            <p style="font-size: 14px; background-color: #f1cdd3; color: #1F305E; border-radius: 12px; padding: 6px;">{{ meditation.duration }} mins</p>
            <p style="font-size: 14px; background-color: #f1cdd3; color: #1F305E; border-radius: 12px; padding: 6px;  margin-left: 3px;">{{ meditation.slogans }}</p>
            <!-- color: #1F305E; -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>