<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__" [routerLink]="['/']">
		<div class="mobile-bottom-nav__item-content">
			<span class="material-symbols-outlined material-icons">
				home
			</span>Home
		</div>		
	</div>
    <div class="mobile-bottom-nav__item" [routerLink]="['/products']">		
        <div class="mobile-bottom-nav__item-content">
			<span class="material-symbols-outlined material-icons">
				self_improvement
			</span>Meditate
        </div>
    </div>
      
	<!--Account signup-->

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<span class="material-symbols-outlined material-icons">
				account_circle
				</span>Account
		</div>		
	</div>

</nav>