body {
  //dev
  //height:2000px;
  padding: 10px;
  padding-bottom: 50px;
}


.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 12px;
  //give nav it's own compsite layer
  will-change: transform;
  transform: translateZ(0);

  display: flex;

  height: 50px;

  //navbar shadow line above icons
  box-shadow: #F0F8FF rgba(176, 196, 222, 1);
  /* box-shadow: 0 -2px 5px -2px rgba(51, 51, 51, 0.5); */

  background-color: #F0F8FF;
  ;

  &__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
  }
}

.material-icons {
  font-size: 30px;
  cursor: pointer;
}

.material-icons:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}



/* Default icon color */
.material-icons {
  color: black;
}

/* Active icon color */
.mobile-bottom-nav__item.active .material-icons {
  color: black;
}

.active {
  font-weight: bold;
  color: black;
}



