<div class="top">
    <div class="columns">
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px; cursor: pointer" routerLink="home">
            <img src="" alt="" style="width: 50px; height: 50px; text-align: center;">
            <h1 class="icon-heading" style="margin: 0 0 0 -5px; vertical-align: top; " ><span class="color-h2">Stoic</span><span class="color-h1">being</span></h1>
        </div>

        <p style="text-align: center; font-size: 30px; font-weight: 900">
            <span style="font-size: 35px;">Watch your breath.</span> <br>
            <span style="font-size: 30px;">Relax your mind.</span>
        </p>
          
    </div>
</div>

<button class="button is-medium" style="display: block; width: 90%; margin: 10px auto; border-radius: 15px;" routerLink="/products">GET STARTED</button>


