
<div class="top">
    <div class="columns">
        <div style="display: flex; justify-content:center;  cursor: pointer; margin-top: 0.95px; margin-left: 5px; background: #fff;" routerLink="home">
            <img class="icon-img" src="https://cdn-icons-png.flaticon.com/128/2142/2142321.png" alt="" style="width: 40px; height: 37px; text-align: center;">
            <h1 class="icon-heading" style= "margin-right: -10px;" ><span class="color-h2">Calm</span><span id="h1-color">being.</span></h1>
        </div>

        <div style="justify-content: center; align-items: center; margin-bottom: 100px;">
            <img src="https://img.freepik.com/free-vector/organic-flat-person-meditating-lotus-position_23-2148903881.jpg?size=626&ext=jpg&ga=GA1.2.2001154898.1686333747&semt=sph" alt="" style="max-width: 100%; max-height: 100%; object-fit: cover;">

            <p style="text-align: center; font-size: 30px; font-weight: 600; color: #1F305E;">
                <span style="font-size: 34px;">Watch your <span class="color-brush">breath.</span></span> <br>
                <span style="font-size: 32px;"><SPAN class="color-brush2">Relax</SPAN> your mind.</span>
            </p>

            <button class="button is-medium" style="display: block; width: 60%; margin: 10px auto; border-radius: 20px; padding: 10px;" routerLink="/products">GET STARTED</button>
        </div>
    </div>
</div>




