<div class="container">
  <div *ngIf="meditations" class="centered">
    <h1 class="heading-h1">{{ meditations.title }}</h1>
    <div class="quote-box">
      <p class="quotes">{{meditations.quotes}}</p>
    </div>
  </div>

<div id="pomodoro">
  <div id="clock">
    <div id="timer">
      <div id="title">Ready?</div>
      <div id="countdown">
        <span id="minutes">30</span>
        <span id="seconds">00</span>
      </div>
      <img src={{meditations.image}} alt="" style="width:60px; height: 60px; border-radius: 30px;">

      <div id="controls" class="reset">
        <div id="start"><i class="fas fa-play"></i> Start</div>
        <div id="pause"><i class="fas fa-pause"></i> Pause</div>
        <div id="reset"><i class="fas fa-sync-alt"></i> Reset</div>
      </div>
    </div>
  </div>
  <div id="options">
    <div id="session">
      <i id="incrSession" class="fas fa-angle-double-up"></i>
      <span class="option-title">Session</span>
      <input id="sessionInput" type="number" value="30" max="60" min="5">
      <i id="decrSession" class="fas fa-angle-double-down"></i>
    </div>
    
  </div>
</div>
</div>



